<p class="text-center text-muted fixed-bottom">© 2022 Filip Krnjaković</p>

<div class="cookie-container">
    <h4>Kolačići</h4>
    <p>Korištenjem ove stranice pristajete na uporabu kolačića u pregledniku.</p>
    <button type="button" class="btn btn-danger cookieBtn">Razumijem</button>
</div>
