{% extends 'base.html.twig' %}

{% block content %}
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center text-md-left" data-aos="fade-up">
            <h1>Dobrodošli u SYMFONY HOTEL</h1>
            <h2>Pametni sustav upravljanja hotelom, sada u Symfony izdanju</h2>
        </div>
    </section>
{% endblock %}
