{% extends 'base.html.twig' %}
{% set title = 'Prijava' %}

{% block content %}
    <div class="mt-5 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="card bg-white">
                        <div class="card-body p-5">
                            <form class="mb-3 mt-md-4" method="post" action="{{ path('login') }}">
                                <h2 class="fw-bold mb-2 text-uppercase">Prijava</h2>
                                {% if error %}
                                    <p class="mb-5">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                                {% endif %}
                                <div class="mb-3">
                                    <label for="email" class="form-label">E-mail adresa</label>
                                    <input type="email" class="form-control" name="_username" id="email"
                                           value="admin@syhotel.com"
                                           placeholder="admin@syhotel.com / user@syhotel.com"/>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Lozinka</label>
                                    <input type="password" class="form-control" name="_password" id="lozinka"
                                           value="admin256" placeholder="admin256 / user256"/>
                                </div>
                                <div class="d-grid">
                                    <input type="submit" class="btn btn-outline-dark" value="Prijava"/>
                                </div>
                                <input type="hidden" name="_target_path" value="/dashboard"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
