<p>
  Molim potvrdite svoju e-mail adresu kroz poveznicu: <br /><br />
  <a href="{{ signedUrl|raw }}">Potvrdi</a><br /><br />
  Ova poveznica istiÄe za sat vremena.
  <br />
  Za sva dodatna pitanja obratite se svome administratoru.
</p>
