{% extends 'base.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block content %}
  <div class="m-2">
    <div class="container w-50 p-3">
      {{ form_start(registrationForm) }}
      <div class="mb-3">
        {% include 'form/input.html.twig' with { attribute: registrationForm.firstName } %}
      </div>
      <div class="mb-3">
        {% include 'form/input.html.twig' with { attribute: registrationForm.lastName } %}
      </div>
      <div class="mb-3">
        {% include 'form/input.html.twig' with { attribute: registrationForm.email } %}
      </div>
      <div class="mb-3">
        {% include 'form/input.html.twig' with { attribute: registrationForm.plainPassword } %}
      </div>
      <div class="mb-3">
        {% include 'form/input.html.twig' with { attribute: registrationForm.roles } %}
      </div>
      <div class="mb-5">
        <p class="lead mb-5">Svi podaci su obavezni</p>
        <input type="submit" class="btn btn-success me-2" value="Potvrdi" />
        <a href="{{ path('dashboard') }}" class="btn btn-danger">Odustani</a>
      </div>
      {{ form_end(registrationForm) }}
    </div>
  </div>
{% endblock %}
