<!DOCTYPE html>
<html lang="en">

<head>
    {{ include('partials/main.html.twig') }}
</head>

<body>
    <header>
        <?php include_once 'predlosci/izbornik.phtml'; ?>
    </header>

    <main>
        <?= $glavniSadrzaj; ?>
    </main>

    <footer>
        <?php include_once 'predlosci/podnozje.phtml'; ?>
    </footer>

    <?php include_once 'predlosci/skripte.phtml'; ?>
</body>

</html>