{% extends 'base.html.twig' %}
{% set title = '404' %}

{% block content %}
  <div class="container">
    <div class="text-center mt-5">
      <img src="/img/error/error404.webp" alt="404" />
    </div>
  </div>
{% endblock %}
